<h1>Hola Broda!!</h1>
<h2>Mira esta splash web la estoy haciendo para aprender ruby on rails</h2>
<h3>Estoy usando un IDE online/cloud muy molon de Cloud9</h3>
<h4>Esta página (en realidad es una app de rails) está alojada en Heroku</h4>

<p>
    La iré usando para ir haciendo pruebas de campo
    para probar los CSS y el HTML
    y las posibilidades de Ruby que me está gustando bastante
</p>
<p>
    Hoy es día: <%= 
    t = Time.now
    t.day 
    %>
    Del mes: <%= 
    t = Time.now
    t.month
    %>
    En el año: <%= 
    t = Time.now
    t.year
    %> 
    
    
</p>

<h1>¡¡Mola!!</h1>