<body>
<div class="container1">
<h1>Oinot Na</h1>
<h4>Escamoteador de tuttifrutti</h4>
<p>Este es mi splash page enawer con el que lo mismo hago plash que cataplash. Me gusta beberme un zumo de naranja por las mañanas porque pienso que la inmortalidad reside en las vitaminas de origen natural.</p>

<br />

    <a href='http://direccion de linked in' target='blank' >
        <%= image_tag('square-linkedin-32.png') %> </a>
    <a href='http://imdb direccion personal' target='blank'>
        <%= image_tag('logo_imdb_32.png') %> </a>
</div>
</body>
